<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Posts</title>
  <link rel='stylesheet' href='styles.css'>
</head>
<body>
  <h1>All posts</h1>

  <ul class="posts">
  <% for(var i=0; i<posts.length; i++) {%>
    <li class="post">
      <span><%= posts[i].title %></span>
      <span><%= posts[i].body %></span>
    </li>
  <% } %>
  </ul>

</body>
</html>
